.auth-form {
  padding: 20px;
  max-width: 500px;
  width: 100%;
}

.auth-form .fields-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.auth-form .confirm-button {
  margin-bottom: 20px;
}