.main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60px auto;
  height: 100%;
  padding: 0;
}

.content {
  grid-column-start: 1;
  grid-row-start: 2;
  padding: 20px;
}

@media (min-width: 576px) {
  .main {
    grid-template-columns: auto 1200px auto;
    grid-template-rows: 80px auto;
  }
  
  .content {
    grid-column-start: 2;
    grid-row-start: 2;
    padding: 40px;
  }
  
}