
#header {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: space-between;
  padding: 20px;
}

#header img {
  max-height: 30px;
  width: auto;
}

@media (min-width: 576px) {
  #header {
    height: 80px;
    justify-content: space-between;
    padding: 40px;
  }

  #header img {
    max-height: 50px;
  }
}