body, ul, li, h1, h2, h3, h4, p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
  height: 100%;
}

html {
  height: 100%;
  min-height: 100vh;
}

#root {
  height: 100%;
  width: 100%;
}